fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
pydantic[email]
sentence-transformers
pgvector
requests
numpy
anthropic
openai
